{% macro form_css() %}
    <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/select2/select2.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/select2/select2-bootstrap3.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/daterangepicker-bs3.css') }}"
          rel="stylesheet">
    {% if config.MAPBOX_MAP_ID %}
        <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/leaflet/leaflet.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/leaflet/leaflet.draw.css') }}"
              rel="stylesheet">
    {% endif %}
    {% if editable_columns %}
        <link href="{{ url_for('dag_creation_manager_bp.static', filename='vendor/x-editable/css/bootstrap3-editable.css') }}"
              rel="stylesheet">
    {% endif %}
{% endmacro %}

{% macro form_js() %}
    {% if config.MAPBOX_MAP_ID %}
        <script>
            window.MAPBOX_MAP_ID = "{{ config.MAPBOX_MAP_ID }}";
            {% if config.MAPBOX_ACCESS_TOKEN %}
                window.MAPBOX_ACCESS_TOKEN = "{{ config.MAPBOX_ACCESS_TOKEN }}";
            {% endif %}
            {% if config.DEFAULT_CENTER_LAT and config.DEFAULT_CENTER_LONG %}
                window.DEFAULT_CENTER_LAT = "{{ config.DEFAULT_CENTER_LAT }}";
                window.DEFAULT_CENTER_LONG = "{{ config.DEFAULT_CENTER_LONG }}";
            {% endif %}
        </script>
        <script src="{{ url_for('dag_creation_manager_bp.static', filename='vendor/leaflet/leaflet.js') }}"></script>
        <script src="{{ url_for('dag_creation_manager_bp.static', filename='vendor/leaflet/leaflet.draw.js') }}"></script>
        {% if config.MAPBOX_SEARCH %}
            <script>
                window.MAPBOX_SEARCH = "{{ config.MAPBOX_SEARCH }}";
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{ config.get('GOOGLE_MAPS_API_KEY') }}"></script>
        {% endif %}
    {% endif %}

    {% if editable_columns %}
        <script src="{{ url_for('dag_creation_manager_bp.static', filename='vendor/x-editable/js/bootstrap3-editable.min.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="{{ url_for('dag_creation_manager_bp.static', filename='admin/js/form.js') }}"></script>
{% endmacro %}
